#pestania{
    position: relative;
    width: 100%;
    background: black;
    height: 50px;
    line-height: 45px;
    margin-top: -56px;
    border: transparent;
    padding: 0px 25px
    
}

#pestania .contenedor{
   width: 100%;
}

#pestania .contenedor a{
display: inline-block;
text-decoration:none;
color:white;
    font-size: 15px;
    margin: 0px 5px 

 
   
}
#pestania .contenedor a:hover{
       margin: 0px 5px;
    text-decoration: none;
    color: black;
    border: 1px transparent solid;
    border-radius: 6px 6px;
    padding: 1px;
    background: rgba(255,255,255,0.3);

 
}

@media (min-width:1024px){
    #pestania{
    width: 100%;    
    
    }
    #pestania div a{
      width: 32%;
      text-align-last: center
    
    }
    }
@media(min-width:768px){
    #pestania div a{
    width:31%;
        text-align: center;
        }
}