#pestania{
    position: relative;
    width: 100%;
    background: white;
    height: 46px;
    line-height: 45px;
    margin-top: -56px;
    padding: 0px 25px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    
}

#pestania .contenedor{
   width: 100%;
}

#pestania .contenedor a{
    display: inline-block;
    text-decoration:none;
    color:black;
    font-size: 15px;
    margin: 0px 2px 

 
   
}
#pestania .contenedor a:hover{
    
    text-decoration: none;
    color: black;
    
    background: deepskyblue;

 
}

@media (min-width:1024px){
    #pestania{
    width: 100%;    
    
    }
    #pestania div a{
      width: 34%;
      text-align-last: center
    margin:2px 2px;
    }
    }
@media(min-width:768px){
    #pestania div a{
    margin:2px 2px;
        width:32%;
        text-align: center;
        }
}