#pestania{
    position: relative;
    width: 100%;
    background: black;
    height: 50px;
    line-height: 45px;
    margin-top: -56px;
    border: transparent;
}

#pestania .contenedor{
    text-align: center;
    margin: 0px;
}

#pestania .contenedor a{
    margin: 0px 5px;
    text-decoration: none;
    color: white;
   
    padding: 2px;

 
   
}
#pestania .contenedor a:hover{
       margin: 0px 5px;
    text-decoration: none;
    color: black;
    border: 1px white solid;
    border-radius: 6px 6px;
    padding: 2px;
    background: white;

 
}